nav {
  height: 120px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top : 0;
  right : 0;
  left: 0;
  z-index: 1000;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

/* Elements on the left side of the nav bar */
nav #logo {
  font-family: 'Bungee', cursive, sans-serif;
  width: 20%;
  display: flex;
  align-items: center;
}

nav #bird {
  margin-right: 5%;
}

/* Elements on the right side of the nav bar */
.new-msg {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: transparent;
  padding: 5px;
  display: flex;
  border: none;
  animation: bounce 1.2s ease infinite;
  outline: none;
}

nav button:hover {
  cursor: pointer;
}

@keyframes bounce{
  0% { transform: translateY(0px)  }
  50% { transform: translateY(8px) }
  100% { transform: translateY(0px) }
}