/* Error message box */
.error-message {
  border: 3px solid red;
  padding: 10px;
  margin-top: 1em;
  font-size: 18px;
  color: rgb(241, 50, 50);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.error-message strong {
  margin-left: .8em;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Compose box */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

textarea {
  flex: 100%;
  background: transparent;
  font-weight: bold;
  border: none;
  border-bottom: solid 5px #545149;
  margin-top: 1em;
  margin-bottom: .5em;
  color: #545149;
  height: 50px;
  outline: none;
}

input {
  font-family: 'Bungee', cursive, sans-serif;
  background-color: #4056A1;
  color: #ffffff;
  outline: none;
}

.counter {
  font-family: 'Bungee', cursive, sans-serif;
  position: relative;
  left: 0;
}